graft bulk_mv

include LICENSE
include README.md
include CONTRIBUTING.md

include .bumpversion.cfg
include pyproject.toml
include Makefile
include codecov.yml

include branding/*.png
recursive-include doc *.bat
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc Makefile

prune .github
exclude .gitignore
exclude .gitattributes

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
